{% extends 'base.html' %}
{% block title%}create{% endblock %}
{% block body %}
<h1>Добавление футболиста</h1>
{% for msg in get_flashed_messages() %}

<div style="background: #F4FC03; border:3px #00B344  ridge; width: 200px; padding: 10px 0 10px 15px;  margin:20px;"
     class="flash">{{msg}}

</div>
{% endfor %}
<form method="post">
    <input type="text" name="name" id="name" class="form-control" placeholder="Введите имя"><br>
    <input type="text" name="number" id="number" class="form-control" placeholder="Введите номер"><br>
    <input type="text" name="age" id="age" class="form-control" placeholder="Введите возраст"><br>
    <input type="text" name="height" id="height" class="form-control" placeholder="Введите рост"><br>
    <input type="text" name="weight" id="weight" class="form-control" placeholder="Введите вес"><br>
    <select name="role">
  <option value="вратарь">Вратарь</option>
  <option value="защитник">Защитник</option>
  <option value="полузащитник">Полузащитник</option>
  <option value="нападающий">Нападающий</option>
  </select> <br>
    <select name="club2" required="required">
  <option value="">Клуб</option>
  <option value="Real Madrid-20">Реал Мадрид </option>
  <option value="Alaves-1">Алавес</option>
  <option value="Athletic-2">Атлетик Бильбао</option>
  <option value="Atletico-3">Атлетико Мадрид</option>
  <option value="Barcelona-4">Барселона</option>
  <option value="Betis-5">Бетис</option>
  <option value="Sevilla-6">Севилья</option>
  <option value="Valencia-7">Валенсия</option>
  <option value="Villarreal-8">Вильярреал</option>
  <option value="Granada-9">Гранада</option>
  <option value="Cadiz-10">Кадис</option>
  <option value="Levante-11">Леванте</option>
  <option value="Mallorca-12">Мальорка</option>
  <option value="Osasuna-13">Осасуна</option>
  <option value="Rayo-Vallecano-14">Райо Вальекано</option>
  <option value="Real-Sociedad-15">Реал Сосьедад</option>
  <option value="Celta-16">Сельта</option>
  <option value="Getafe-17">Хетафе</option>
  <option value="Elche-18">Эльче</option>
  <option value="Espanyol-19">Эспаньол</option>
  </select> <br>
    <input type="submit" class="btn btn-success" value="Отправить">
</form>

{% endblock %}